<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

{{ greeting|safe }}

<html>
<h1>Projects</h1>
<body>

<table border="0" style="width:100%">
  <tr>
    <td width="375px" style="padding:20px" width="200px">
<h2>Project Management</h2>
<img src="http://www.clarity-ventures.com/portals/0/images/resources/custom-programming-design-project-management.png" alt="custom-programming-design-project-management.png" style="width:600px;height:150px">
</td>
    <td>Project management is the process and activity of planning, organizing, motivating, and controlling resources, procedures and protocols to achieve specific goals in scientific or daily problems. A project is a temporary endeavor designed to produce a unique product, service or result with a defined beginning and end (usually time-constrained, and often constrained by funding or deliverables), undertaken to meet unique goals and objectives, typically to bring about beneficial change or added value. </td>		
  </tr>
  <tr>
    <td>
<h2>Interface Design</h2>
<img src="http://cdx.dexigner.com/article/19081/The_Future_of_Integrated_Health_Care_01_thumb.jpg" alt="" style="width:600px;height:150px">
</td>
    <td>User interface design (UID) or user interface engineering is the design of websites, computers, appliances, machines, mobile communication devices, and software applications with the focus on the user's experience and interaction. The goal of user interface design is to make the user's interaction as simple and efficient as possible, in terms of accomplishing user goals—what is often called user-centered design.</td>		
  <tr>
    <td>
<h2>Development</h2>
<img src="http://techiecode.files.wordpress.com/2013/05/url3.png" alt="" style="width:600px;height:200px">
</td>
    <td>Software development is the computer programming, documenting, testing, and bug fixing involved in creating and maintaining applications and frameworks involved in a software release life cycle and resulting in a software product. The term refers to a process of writing and maintaining the source code, but in a broader sense of the term it includes all that is involved between the conception of the desired software through to the final manifestation of the software, ideally in a planned and structured process.</td>		
 

</body>
</html>
{%endblock%}
