{% extends "layout.html" %}

{% block content %}

{{ greeting|safe }}

<html>
<body>
<table border=0 widht="900px">
<div id="geninfo">
<tr>
<td width="180px"><img src="http://images/dwight.jpg" width="200px"></td> 
<td width="375px" style ="padding:20px"> <h2><font color="#e66007">Dwight Thomas</font></h2>
Student<br>Howard University<br>
Department of Systems and Computer Science</td>
<td width ="300px"><img src="http://images/qrcode.png" align ="center"> </td>
</tr>
</div>

</td></table>
<table style='padding:5px 10px 5px 5px'>
<tr><td width="400px"><center>Geographical Location<br><strong><font color="#e66007">Washington, DC</strong></font></td><td>Links:<br>http:www.github.com/DThomas<br>http://www.linkedin.com/DwightThomas</center></td></tr>
</table>


<table border=0>
<tr>
<td width="225px"><center><a href="http://Skills.html" target="_blank"><img src="http://images/skills.png"><br>Skills</a></center></td>
<td width="225px"><a><center><img src="http://images/portfolio.png"><br>Portfolio</a></center></td>
<td width="225px"><a><center><a href="http://csgamifyme.appspot.com/achievement.html" target="_blank"><img src="http://images/Achievements.png"><br>Achievements</a></center></td>
<td width="225px"><center><a><img src="http://images/involvement.png"><br>Involvement</a></center></td>
</tr>
</table>

<h2>
<font color="#e66007">
Rank: Prospect
</font>
</h2>
Experience Points: 30/300<br>
<img src="http://images/xp.png" height="20px">
</div>
</body>
</html>
{%endblock%}
