<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "layout.html" %}

{% block content %}

{{ greeting|safe }}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="./colors/color1/view.css" media="all">
<script type="text/javascript" src="js/view.js"></script>


<script type="text/javascript" src="js/calendar.js"></script>
	</head>
	<body>
		<h1>
			SRC Showcase</h1>
		<h2>
			Past Projects</h2>
		<p>
			<strong><a href="#top">RESEARCH (COMPUTER ARCHITECTURE)</a></strong></p>
		<p>
			Want to contribute to the development of future high-performance and mobile computing systems?</p>
		<p>
			Ideal candidates will have a strong track record of research excellence; systems-building experience; a broad perspective across the field of computer architecture; and depth in at least one of the following areas: parallel processor architecture, memory hierarchy architecture, and DRAM architecture. NVIDIA has pioneered programmable GPUs and the CUDA language, and is a world leader in high performance and mobile computing technologies, with aggressive plans for future processors. This position offers the opportunity to have real impact in a fast-moving, technology-focused company.</p>
		<p>
			<strong>RESPONSIBILITIES:</strong> - Develop innovative architectures to address emerging challenges of mobile and scalable systems. - Understand and analyze the interplay of hardware and software architectures. - Collaborate across the company, working with software, research, engineering, and product teams. - Publish original research and speak at conferences and events.</p>
		<p>
			<strong>MINIMUM REQUIREMENTS:</strong> - Strong background in computer architecture, VLSI, parallel processing, and/or high performance computing. - Experience with experimental computer architecture development and evaluation. - Experience with <strong>C</strong>, <strong>C++</strong>, and <strong>scripting languages</strong>.</p>
		<p>
			&nbsp;</p>
		<hr />
		<p style="margin: 0px">
			<strong><a href="#top">Computer Forensics</a></strong></p>
		<p style="margin: 0px">
			<br />
			Interested in Computer Forensics project.&nbsp; Be the lead Computer Forensics Technician and support imaging and data extraction processes on a variety of media to include mobile devices.</p>
		<p style="margin: 0px">
			<br />
			<strong>Key Responsibilities</strong></p>
		<p style="margin: 0px">
			Computer Forensic Technicians will use standard computer forensics and evidence handling techniques to assess digital information. Conduct examinations on gaming systems and mobile devices. Create detailed notes on processes undertaken and their findings, and will be required to testify as expert witnesses in federal and military courts when called. Employ forensic tools and techniques to recover deleted, fragmented and corrupted data from digital media of all types. &nbsp;</p>
		<p style="margin: 0px">
			&nbsp;</p>
		<p style="margin: 0px">
			<strong>Required Skills:</strong></p>
		<p style="margin: 0px">
			- Experience with disassembling and reassembling electronic devices such as computers and associated peripherals.</p>
		<p style="margin: 0px">
			- Understanding of hard drive architecture and connection types.</p>
		<p style="margin: 0px">
			- Understanding of cell phone architecture.</p>
		<p style="margin: 0px">
			- Department of Defense Certified Digital Media Collector certification or eligibility to take</p>
		<p style="margin: 0px">
			- Ability to acquire and maintain a SECRET clearance</p>
		<p style="margin: 0px">
			- Documentation and written communication skills</p>
		<p style="margin: 0px">
			&nbsp;</p>
		<p>
			Candidates should demonstrate sophisticated technical expertise, strong communications skills and the ability to think critically.</p>
	</body>
</html>
{% endblock %}
